__pycache__/
.cache/
*.swp
/out/
/articles/
/images/
/media/
/sections/
/article_exports/
/books/
/docs/
/book_exports/
/exports/
/.build/
/venv/
/doc/book/
/doc/book/src/template_specification.md
/mk/bin/
/assets/html/html_book_assets/katex/
revisions.json
