<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    table.stat-table {
        background-color: #FFFFFF;
        width: 100%;
        text-align: left;
        border-collapse: collapse;
    }
    table.stat-table td, table.stat-table th {
        border: 1px solid #AAAAAA;
    }
    table.stat-table tr:nth-child(even) {
        background: #E0E0E0;
    }
    .body {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
  </style>

  <title>Stats for {{article}} ({{revision}})</title>
</head>

<body>
    <div class="body">
    <h3>{{article}} (<a href="https://de.wikibooks.org/w/index.php?title={{article}}&oldid={{revision}}">{{revision}}</a>)</h3>
    <table class="stat-table">
        <tr><td>WikiText line count</td><td>{{line_count}}</td></tr>
        <tr><td>Number of images embedded</td><td>{{image_count}}</td></tr>
        {{#if template_count~}}
        <tr><td>Template usage</td><td>
            <ul>
                {{#each template_count~}}
                <li>{{@key}}: {{this}}</li>
                {{/each~}}
            </ul>
        </td></tr>
        {{/if~}}
        {{#if unresolved_references~}}
        <tr><td>Unresolved references</td><td>
            <ul>
                {{#each unresolved_references~}}
                <li>{{this}}</li>
                {{/each~}}
            </ul>
        </td></tr>
        {{/if~}}
        {{#if reference_targets~}}
        <tr><td>This article references</td><td>
            <ul>
                {{#each reference_targets~}}
                <li>{{this}}</li>
                {{/each~}}
            </ul>
        </td></tr>
        {{/if~}}
    </table> 
    </div>
</body>

</html>
