<!doctype html>

<html>
<head>
    <meta charset="utf-8">
    <base href="../" target="_self">
    <link rel="stylesheet" href="static/serlo.css">
    <link rel="stylesheet" href="static/katex.min.css">
    <script defer src="static/katex.min.js"></script>

    <title>{{article}}</title>
</head>
<body>
<nav id="sidebar">
    <div class="partlist">
    <ol class="parts">
        {{#each parts~}}
        {{~ #unless (part_excluded this ../subtarget)}}
        <li>{{this.title}}
            <div class="chapterlist">
            <ol class="chapters">
                {{#each this.chapters~}}
                {{~ #unless (chapter_excluded this.markers.exclude ../../subtarget)}}
                <li>
                    <a href="{{urlencode (escape_make this.path)}}/{{this.revision}}.html">{{this.title}}</a>
                </li>
                {{~ /unless ~}}
                {{/each~}}
            </ol>
            </div>
        </li>
        {{~ /unless ~}}
        {{/each~}}
    </ol>
    </div>
</nav>
<div id="content">
<!-- @ARTICLE_CONTENT@ -->
</div>

    <script defer type="text/javascript">
        // load KaTeX
        document.addEventListener("DOMContentLoaded", function() {
            var math = document.getElementsByClassName('math');
            for (var i = 0; i < math.length; i++) {
                katex.render(math[i].textContent, math[i]);
            } 
        });
    </script>
</body>
</html>
