<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    table.stat-table {
        background-color: #FFFFFF;
        width: 100%;
        text-align: left;
        border-collapse: collapse;
    }
    table.stat-table td, table.stat-table th {
        border: 1px solid #AAAAAA;
    }
    table.stat-table tr:nth-child(even) {
        background: #E0E0E0;
    }
    .body {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
  </style>

  <title>Stats for {{book}} ({{book_revision}})</title>
</head>

<body>
    <div class="body">
    <h1>Stats for {{book}} (<a href="https://de.wikibooks.org/w/index.php?title={{book}}&oldid={{book_revision}}">{{book_revision}}</a>)</h1>
    <h2>Total:</h2>
    <table class="stat-table">
        <tr><td>WikiText line count</td><td>{{line_count}}</td></tr>
        <tr><td>Number of images embedded</td><td>{{image_count}}</td></tr>
        <tr><td>Template usage</td><td>
            <ul>
                {{#each template_count~}}
                <li>{{@key}}: {{this}}</li>
                {{/each~}}
            </ul>
        </td></tr>
        <tr><td>Number of lints</td><td>{{lints_total}}</td></tr>
        <tr><td>Number of lints (by severity)</td><td>
            <ul>
                {{#each severity~}}
                <li>{{@key}}: {{this}}</li>
                {{/each~}}
            </ul>
        </td></tr>
        <tr><td>Number of lints (by kind)</td><td>
            <ul>
                {{#each kind~}}
                <li>{{@key}}: {{this}}</li>
                {{/each~}}
            </ul>
        </td></tr>
    </table> 
    <h2>By Article:</h2>
    {{#each articles}}
    <h3>{{name}} (<a href="https://de.wikibooks.org/w/index.php?title={{name}}&oldid={{revision}}">{{revision}}</a>)</h3>
    <table class="stat-table">
        <tr><td>WikiText line count</td><td>{{line_count}}</td></tr>
        <tr><td>Number of images embedded</td><td>{{image_count}}</td></tr>
        <tr><td>Template usage</td><td>
            <ul>
                {{#each template_count~}}
                <li>{{@key}}: {{this}}</li>
                {{/each~}}
            </ul>
        </td></tr>
        <tr><td>Number of lints</td><td>{{lints_total}}</td></tr>
        <tr><td>Number of lints (by severity)</td><td>
            <ul>
                {{#each severity~}}
                <li>{{@key}}: {{this}}</li>
                {{/each~}}
            </ul>
        </td></tr>
        <tr><td>Number of lints (by kind)</td><td>
            <ul>
                {{#each kind~}}
                <li>{{@key}}: {{this}}</li>
                {{/each~}}
            </ul>
        </td></tr>
    </table> 
    {{/each}}
    </div>
</body>

</html>
